<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>Login</title></head>
    <body>
        <h2>Iniciar sesión</h2>

        <form th:action="@{/login}" method="post">
            Email: <input type="text" name="username" /><br/><br/>
            Password: <input type="password" name="password" /><br/><br/>
            <button type="submit">Entrar</button>
        </form>

        <div th:if="${param.error}">
            <p style="color:red">Credenciales inválidas</p>
        </div>
        <div th:if="${param.logout}">
            <p style="color:green">Has cerrado sesión</p>
        </div>

    </body>
</html>
